html {
  background-color: $bg-grey;
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: $off-white;

  @include transition-duration;

  &.menu-open {
    width: 80%;
    margin: 10%;
  }
}

.header {
  padding: 2em 0;
  margin-bottom: 1rem;
  background-color: $midnight-cowboy;
}

::selection {
  color: $off-white;
  background-color: $lavendar;
}

.container {
  width: 100%;
  margin: 0 -.5% 0 .5%;
  overflow: hidden;

  @include breakpoint ($mobile) {
    margin-left: 0;
  }
}

.sketch {
  float: left;
  width: 31%;
  margin: 1%;

  @include breakpoint ($small) {
    width: 48%;
  }
  @include breakpoint ($mobile) {
    width: 98%;
  }
  @include breakpoint($large) {
    width: 23%;
  }
  @include breakpoint($super-big) {
    width: 18%;
  }

  img {
    width: 100%;
  }
}

.footer {
  width: 100%;
  padding: 2em 0;
  text-align: center;
}
