body {
	background-color: $off-white;
}

h1 {
	background-color: $midnight-cowboy;
	margin-bottom: 1rem;
	padding: 2em 0;
}

.container {
	width: 100%;
	margin-left: 0.5%; 
}

.sketch {
	float: left;
	width: 31%;
	margin: 1%;
	img {
		width: 100%;
	}
}