html {
	background-color: $ukrave-light;
}

body {
	background-color: $off-white;
	&.menu-open {
		width: 80%;
		margin: 10%;
	}
}

.header {
	background-color: $midnight-cowboy;
	margin-bottom: 1rem;
	padding: 2em 0;
}

::selection {
	background-color: $lavendar;
	color: $off-white;
}

.container {
	margin-left: 0.5%;
	overflow: hidden;
	width: 100%;
	@include breakpoint ($mobile) {
		margin-left: 0;
	}
}

.sketch {
	float: left;
	width: 31%;
	margin: 1%;
	@include breakpoint ($small) {
		width: 48%;
	}
	@include breakpoint ($mobile) {
		width: 98%;
	}
	@include breakpoint($large) {
		width: 23%;
	}
	@include breakpoint($super-big) {
		width: 18%;
	}
	img {
		width: 100%;
	}
}

.footer {
	// background-color: $midnight-cowboy;
	width: 100%;
	text-align: center;
	padding: 2em 0;
}