@mixin fontface($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $weight;
    font-style: $style;
  };
};

@include fontface("icomoon", "../fonts/icomoon", normal, normal);

%type--main {
	font: {
		family: 'Advent Pro', sans-serif;
		weight: 300;
		size: 62.5%;
	}
}

%type--icon-font {
	font: {
		family: 'icomoon';
		size: 62.5%;
	}
}

h1 {
	@extend %type--main;
	font-size: 2.5rem;
	color: $off-white;
	text-align: center;
}

p {
	@extend %type--main;
	font-size: 1rem;
}

a {
	@include transition-duration;
	text-decoration: none;
	color: $ukrave-teal;
	&:hover {
		color: $lavendar;
	}
}

.side-link a{
	@include transition-duration(0.5s);
	@extend %type--main;
	color: $off-white;
	font-size: 2rem;
}

@for $i from 1 through length($side-hover-colors) {
	.side-link:nth-of-type(#{$i}) {
		a:hover {
			color: (nth($side-hover-colors, $i));
		} 
	}
}

.icon {
	@extend %type--icon-font;
	margin-right: 1em;
}