// COLORS
$midnight-cowboy: #282e39;
$off-white: #edeef1;
$ukrave-teal: #17a39e;
$lavendar: #c799f4;

//DEFAULTS
$default-transition-duration: 0.8s;

// BREAKPOINTS //
$mobile: max-width 400px;
$small: max-width 650px;
$large: min-width 1400px;
$super-big: min-width 1800px;