// COLORS
$midnight-cowboy: #282e39;
$off-white: #ced2d6;
$ukrave-teal: #17a39e;
$lavendar: #c799f4;
$ukrave-light: #8bd1ce;

//DEFAULTS
$default-transition-duration: 0.8s;

// BREAKPOINTS //
$mobile: max-width 400px;
$small: max-width 650px;
$large: min-width 1400px;
$super-big: min-width 1800px;